<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Auth</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/">Главная</a>
                    <a class="nav-item nav-link" th:href="@{/users}">Пользователи</a>
                    <a class="nav-item nav-link active" th:href="@{/users/create}">Добавить пользователя</a>
                </div>
            </div>
        </div>
    </nav>
</div>